<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShakeLists.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E34D0021C7AF1B600CE563A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E34D01B1C7AF1B600CE563A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E34D0261C7AF1B600CE563A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
